body{
    background-color: #f4e0e0;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    
}
.center{
    margin-left: auto;
    margin-right: auto;
}

th{
    padding-left: 10px;
    padding-right: 20px;
    background-color: #4CAF50;
    color: rgb(28, 16, 16);
}

td{
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #b91919;
}

tr:hover {
  background-color: #f1f1f1;
}

tr:nth-of-type(even)
{
    background-color:#f9f9f9;
}